[Oo]bj/
[Bb]in/
.vs/
.vscode/
.idea/
*.xap
*.user
/TestResults
*.vspscc
*.vssscc
*.suo
*.cache
*.docstates
_ReSharper.*
*.csproj.user
*[Rr]e[Ss]harper.user
_ReSharper.*/
packages/*
artifacts/*
msbuild.log
PublishProfiles/
*.psess
*.vsp
*.pidb
*.userprefs
*DS_Store
*.ncrunchsolution
*.log
*.vspx
/.symbols
nuget.exe
!build-tools/NuGet.exe
build/
!build-tools/KoreBuild/build/
.nuget/
*net45.csproj
*k10.csproj
App_Data/
bower_components
node_modules
*.sln.ide


*/*.Web/wwwroot/lib
*/*.Web/wwwroot/stylesheets/css
*/*.Web/wwwroot/scripts/js
*/*.Web/wwwroot/scripts/**/*.min.js
*.ng.ts
*.sln.ide
project.lock.json
appsettings.Development.json



tools/*
!tools/packages.config
!tools/packages.config.md5sum