[Oo]bj/
[Bb]in/
.vs/
.vscode/
.idea/
*.xap
*.user
/TestResults
*.suo
*.cache
*.docstates
_ReSharper.*
*.csproj.user
*[Rr]e[Ss]harper.user
_ReSharper.*/
packages/*
artifacts/*
msbuild.log
PublishProfiles/
*.psess
*.vsp
*.pidb
*.userprefs
*DS_Store
Thumbs.db
*.ncrunchsolution
*.log
*.vspx
/.symbols
nuget.exe
!build-tools/NuGet.exe
build/
!build-tools/KoreBuild/build/
.nuget/
*net45.csproj
*k10.csproj
App_Data/
bower_components
node_modules
*.sln.ide

src/Discussion.Web/logs/*
src/Discussion.*/publish/*
dotnetclub.db

src/Discussion.Web/wwwroot/lib/node_modules
src/Discussion.Web/wwwroot/dist/*


*.ng.ts
*.sln.ide
project.lock.json
package-lock.json
appsettings.Development.json
coverage.opencover.xml


tools/*
!tools/packages.config




# compiled output
src/Discussion.Admin/ClientApp/dist
src/Discussion.Admin/ClientApp/tmp
src/Discussion.Admin/ClientApp/out-tsc
src/Discussion.Admin/ClientApp/typings


# misc
src/Discussion.Admin/ClientApp/.sass-cache
src/Discussion.Admin/ClientApp/connect.lock
src/Discussion.Admin/ClientApp/coverage
src/Discussion.Admin/ClientApp/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log

# e2e
src/Discussion.Admin/ClientApp/e2e/*.js
src/Discussion.Admin/ClientApp/e2e/*.map

# IDE
src/Discussion.Admin/Properties/launchSettings.json
src/Discussion.Web/Properties/launchSettings.json


