<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
  Used to specify the default Sources for list, install and update.
  See: NuGet.exe help list
  See: NuGet.exe help install
  See: NuGet.exe help update
  -->
  <activePackageSource>
      <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <!-- used to store credentials -->
  <packageSourceCredentials />
  <packageSources>
    <add key="NuGet official" value="https://nuget.org/api/v2/" />
    <add key="ASP.NET vNext" value="https://www.myget.org/F/aspnetmaster/api/v2/" />
    <add key="OpenAspnetOrg V2" value="http://nuget.openaspnet.org/nuget/nuget.org/" />
    <add key="OpenAspnetOrg vNext" value="http://nuget.openaspnet.org/nuget/aspnetvnext/" />
    <add key="czrepo" value="http://nuget.openaspnet.org/nuget/czrepo/" />
  </packageSources>
  <disabledPackageSources>
    <add key="NuGet official" value="true" />
    <add key="ASP.NET vNext" value="true" />
  </disabledPackageSources>
</configuration>