@import "symbols";
// after overriding, import them again to apply values
@import "../../lib/source/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";



.no-padding{
	padding: 0;
}



body.with-generic-nav {
	padding-top: 65px;
	background: $gray-body-background;
}

.navbar-inverse .navbar-brand{
	color:white;
}

.panel {
	margin-bottom: 13px;
}

.panel .panel-heading {
	background-color: $gray-content-hover;
	padding: 10px;
	border-radius: 3px 3px 0 0;
}


.header-user {
	color:white;
	margin-top: 15px;
	
	.signout-form {
		display: inline;
		
		button {
			display: inline;
			border: none;
			background: transparent;
			cursor: pointer;
			outline: none;
			color:$brand-primary;
		}
		
		&:hover, &:active {
			color:#834790;
			text-decoration: underline;
		}
	}
}

.page-footer {
	color: gray;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 0;
	
	
	.report-link{
		color:$brand-lightest
	}
}