apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: web-claim
  labels:
    name: web-claim
spec:
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany 
  resources:
    requests:
      storage: 1Gi