
@{
    ViewData["Title"] = "ConfirmEmail";
}
<h2>ConfirmEmail</h2>
<div>
    <p>
        感谢你确认电子邮件。请 @Html.ActionLink("单击此处登录", "/about", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>