@using Microsoft.AspNetCore.Identity
@model IdentityResult
@{
    string result = Model.Succeeded ? "重置密码成功" : "重置密码失败";
    ViewData["Title"] = result;
    string errMsg = ViewData["error"] == null ? string.Empty : ViewData["error"].ToString();
}

<div class="row">
    <div class="panel no-padding panel-topic-list col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel-heading">
            @result
        </div>

        <div class="panel-body">
            <div>
                @(Model.Succeeded ? "密码密码成功，请重新登录" : errMsg)
            </div>
            @*<div>
                    <button class="btn btn-default signin-button">
                        <span class="glyphicon glyphicon-ok">返回</span>
                    </button>
                </div>*@
        </div>
    </div>
</div>

