@using Microsoft.AspNetCore.Identity
@model IdentityResult
@{
    var result = Model.Succeeded ? "重置密码成功" : "重置密码失败";
    ViewData["Title"] = result;
    var errMsg = ViewData["error"] == null ? string.Empty : ViewData["error"].ToString();
}

<div class="row">
    <div class="panel no-padding panel-topic-list col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel-heading">
            @result
        </div>

        <div class="panel-body">
            @(Model.Succeeded ? "密码密码成功，请重新登录" : errMsg)
        </div>
    </div>
</div>

