
@{
    ViewData["Title"] = "提示信息";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="panel no-padding panel-topic-list col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel-heading">
            重置密码发起成功
        </div>

        <div class="panel-body">
            <div>
                密码重置链接已发至您的邮箱
            </div>
            @*<div>
                <button class="btn btn-default signin-button">
                    <span class="glyphicon glyphicon-ok">返回</span>
                </button>
            </div>*@
        </div>
    </div>
</div>

