@model ResetPasswordModel

@{
    ViewData["Title"] = "重置密码";
}

<h3>重置密码</h3>
<form asp-action="DoResetPassword" method="post" id="change-password-form"
      asp-route-token="@Model.Token" asp-route-userId="@Model.UserId">
    <div asp-validation-summary="All" class="text-danger"></div>
    <fieldset class="form-group">
        <label asp-for="Password">
            新的密码
        </label>
        <div>
            @Html.PasswordFor(model => model.Password, new
            {
                minlength = "6", maxlength = "20", @class = "form-control"
            })
        </div>
    </fieldset>
    <fieldset class="form-group">
        <label for="ConfirmPassword">
            再次确认
        </label>
        <div>
            <input type="password" id="ConfirmPassword" minlength="6" maxlength="20" class="form-control" />
        </div>
    </fieldset>

    <button type="submit" class="btn btn-default">保存</button>
</form>


@section Tail{
    <script>
        (function () {
            var form = document.querySelector('#change-password-form');
            form.addEventListener('submit',
                function (e) {
                    var newPwd = $('#Password').val();
                    var confirm = $('#ConfirmPassword').val();

                    if (newPwd !== confirm) {
                        alert('请重复输入新的密码以确认');
                        $('#ConfirmPassword').focus();
                        e.preventDefault();
                        return false;
                    }
                });
        })();
    </script>
}
