@model Discussion.Web.ViewModels.RetrievePasswordModel
@{
    ViewData["Title"] = "找回密码";
}

<div class="row">
    <div class="panel no-padding panel-topic-list col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel-heading">
            找回密码
        </div>

        <div class="panel-body">
            <div asp-validation-summary="All" class="text-danger retrieve-password-error"></div>
            <form class="login-form"
                  asp-controller="Account" asp-action="DoRetrievePassword"
                  method="post">
                <fieldset>
                    <label>
                        <span></span>
                        @Html.TextBoxFor(m => m.UsernameOrEmail, new {autofocus = true, autocomplete = "on"})
                    </label>
                </fieldset>
                <fieldset>
                    <label>
                        <span></span>
                        <label>请输入用户名或者已经确认过的邮箱</label>
                    </label>
                </fieldset>
                <br/>
                <button class="btn btn-default signin-button">
                    <span class="glyphicon glyphicon-ok">提交</span>
                </button>
            </form>
        </div>
    </div>
</div>
