@using Discussion.Core.Models
@model User
@{
    ViewData["Title"] = "Setting";
}
<h2>Setting</h2>
<div class="row">
    <div class="col-md-8">
        <form asp-action="DoSetting" method="post" name="myform" onsubmit="showtime(30)">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName"></label>
                @if (string.IsNullOrEmpty(Model.EmailAddress) && !Model.IsActivated)
                {
                    <label asp-for="EmailAddress">尚未绑定邮箱</label>
                }
                else
                {
                    <label asp-for="EmailAddress">@Model.EmailAddress</label>
                }
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress">邮箱</label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default" name="phone">注册</button>
        </form>
    </div>
</div>
@section Tail{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
        var secs = 30;
        function showtime(t) {
            document.myform.phone.disabled = true;
            for (i = 1; i <= t; i++) {
                window.setTimeout("update_p(" + i + "," + t + ")", i * 1000);
            }

        }
        function update_p(num, t) {
            if (num == t) {
                document.myform.phone.innerText = " 重新发送 ";
                document.myform.phone.disabled = false;
            }
            else {
                printnr = t - num;
                document.myform.phone.innerText = " (" + printnr + ")秒后重新发送";
            }
        }
    </script>
}
