@using Discussion.Core.Mvc

@{
    var message = ViewContext.ModelState.IsValid ? "邮件地址已确认" : "无法确认邮件地址";
    ViewData["Title"] = message;
}

@if (ViewContext.ModelState.IsValid)
{
    <h3>@message</h3>
    <div>
        <p>
            感谢你确认邮件地址。
        </p>
        @if (!User.IsAuthenticated())
        {
            <p>
                请 @Html.ActionLink("点击此处登录", "Signin", "Account", null, new {@class = "signin-link"})
            </p>
        }
        else
        {
            <script>setTimeout(function(){ window.location.replace('/') }, 10 * 1000) </script>
        }
    </div>
}
else
{
    <h3>@message</h3>
}