@section Head{
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/dist/summernote/summernote.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/dist/summernote/summernote.min.css" />
    </environment>
}


    <div class="row clearfix">
        <h2>创建新的话题 </h2>
        <div class="topic-title-container">
            <input id="new-topic-title" type="text" />
        </div>
        <div class="topic-content-container">
            <div id="content-editor"></div>
        </div>
    </div>
    <div class="row">
        <button id="submit-create">创建</button>
    </div>
    <p><br /></p>
    <p><br /></p>

@section Tail{
<environment names="Development">
    <script src="~/lib/dist/summernote/summernote.js"></script>
    <script src="~/lib/dist/to-markdown/to-markdown.js"></script>
    <script src="~/lib/dist/marked/marked.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/lib/dist/summernote/summernote.min.js"></script>
    <script src="~/lib/dist/to-markdown/to-markdown.min.js"></script>
    <script src="~/lib/dist/marked/marked.min.js"></script>
</environment>

<script>
    window.createTopicUrl = "@Url.Action("CreateTopic")";
</script>
<script src="~/scripts/markdown-editor.js"></script>
}