@model TopicShowModel

@{
    ViewData["Title"] = Model.Title;
}

<div class="row">
    <div class="panel no-padding panel-topic-list col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel-heading">
            @Model.Title
        </div>

        <div class="panel-body no-padding">
            @Html.Raw(Model.HtmlContent)
        </div>
    </div>
</div>
