@model List<Topic>

@{
    ViewData["Title"] = "My Discussion Site";
}


@section Head{
<environment names="Development">
    <link rel="stylesheet" href="~/stylesheets/css/topic-list.css" />
</environment>
<environment names="Staging,Production">
    <link rel="stylesheet" href="~/stylesheets/css/topic-list.min.css" asp-append-version="true" />
</environment>
}


@functions{
    static string DescribeTopicType(TopicType topicType)
    {
        switch (topicType){
            case TopicType.Sharing:
                return "分享";
            case TopicType.Question:
                return "问答";
        }
        return null;

    }
}

<div class="row">
    <div class="panel no-padding panel-topic-list col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel-heading">
            全部话题
        </div>

        <div class="panel-body no-padding">
            @foreach (var topicItem in Model)
            {
                <div class="topic-item">
                    <div class="topic-meta-primary pull-left">
                        <span class="counts">@topicItem.ReplyCount/@topicItem.ViewCount</span>
                        <span class="topic-type">@DescribeTopicType(topicItem.TopicType)</span>
                    </div>
                    <a class="topic-title" href='/topic/56f7a272e2d0ba0b323886e2'>
                        @topicItem.Title
                    </a>
                    @if (topicItem.LastRepliedAt.HasValue)
                    {
                        <div class="topic-meta-secondary pull-right">
                            @topicItem.LastRepliedAt
                        </div>
                    }
                </div>
            }
        </div>
        <div class="panel-footer">
            <!-- Pagination -->
        </div>

    </div>
</div>
