

@{
    ViewData["Title"] = "本站简介";
}


<div class="row">
    <div class="panel no-padding panel-topic-list col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel-heading">
            本站简介
        </div>

        <div class="panel-body">
            <p>本站致力于推广新一代 .NET Core 技术，一个跨平台、开源和通用的开发平台。本站自身就是 .NET Core 开发而成，您可从<a href="https://github.com/jijiechen/openaspnetorg" target="_blank">此处</a>获得本站的源代码。</p>
            <p>
                本站欢迎各类有关 .NET Core 的开发技术、开源项目和社区活动等方面的讨论，也欢迎相关其他技术的话题。
            </p>
            <br />
            <p>
                如果您是正在寻求入门的新手，以下是一些可供查阅的资料：
            </p>
            <ul>
                <li><a href="https://www.microsoft.com/net/download" target="_blank">.NET Core 运行时和 SDK 下载</a></li>
                <li><a href="https://docs.microsoft.com/zh-cn/dotnet/core/" target="_blank">微软官方文档</a></li>
                <li><a href="https://github.com/dotnet/core" target="_blank">.NET Core 源码</a></li>
            </ul>
            <br />
            <p>
                欢迎参与到本站的开发中来！本站是开源的，可在 GitHub 网站访问源码：<a href="https://github.com/jijiechen/dotnetclub">https://github.com/jijiechen/dotnetclub</a>，并可以在<a href="https://github.com/jijiechen/dotnetclub/projects">此处了解接下来的开发计划</a>。
            </p>
            <p>
                本站目前由 @@jijiechen 在维护，有问题请联系：https://github.com/jijiechen<br />
                更多关于本站的说明，请<a href="https://blog.jijiechen.com/post/dotnetclub/">点击此处</a>。
            </p>
        </div>

    </div>
</div>

