@import "symbols";
// after overriding, import them again to apply values
@import "../lib/node_modules/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "../lib/node_modules/@fortawesome/fontawesome-free/scss/brands";

.no-padding{
	padding: 0 !important;
}

body.with-generic-nav {
	padding-top: 65px;
	background: $gray-body-background;
}

.navbar-inverse .navbar-brand{
	color:white;
}

.panel {
	margin-bottom: 13px;
}

.panel-body{
	padding: 10px;
}

.panel .panel-heading {
	background-color: $gray-content-hover;
	padding: 10px;
	border-radius: 3px 3px 0 0;
}


.header-user {
	color:white;
	margin-top: 15px;

	.avatar{
		width:24px;
		height: 24px;
		border-radius: 2px;
	}

	.dropdown {
		.dropdown-toggle{
			cursor: pointer;
		}

		.dropdown-menu {
			right: 0;
			left: initial;
			color: $text-color;

			.username-item {
				padding-left: 15px;

				.username {
					display: inline-block;

					position: relative;
					top: 5px;

					max-width: 90px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
	}


	.signout-form {

		&:hover, &:active {
			background-color:$gray-content-hover;
		}

		button {
			display: block;
			padding: 3px 20px;
			width: 100%;
			text-align: left;
			border: none;
			background: transparent;
			cursor: pointer;
			outline: none;
			color:$text-color;
		}
	}
}

.page-footer {
	color: gray;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 0;


	.report-link{
		color:$brand-lightest
	}
}

a.link{
	cursor: pointer;
	text-decoration: none;

	&:hover,&:active{
		text-decoration: underline;
	}
}

.form-control{
	width: 60%;
}
