@import "symbols";




.login-form{
  margin-bottom: 30px;
  
  fieldset{
    margin: 10px 0;
    
    label {
      font-weight: normal;
      
      span {
        display: inline-block;
        width: 80px;
        text-align: right;
        padding-right: 10px;
      }
    }
  }


  .signin-button {
    margin-left: 85px;
    
    .glyphicon-user:before{
      position: relative;
      top: 2px;
      margin-right: 4px;
    }
  }
}