@import "symbols";

.panel-topic-list .panel-body{
  min-height: 260px;
  
  .no-topics-notice{
    margin: 10px;
    color: $gray;
  }
  
  .topic-item {
    height: 45px;
    font-size: 1.2em;
    padding: 13px 10px;
    border-bottom: 1px solid $gray-inner-border;

    &:hover{
      background: $gray-content-hover;
    }



    .topic-meta-primary{
      width: 40px;
      text-align: right;

      .counts{
        font-size:13px;
      }
      .topic-type{
        background: $gray-lighter;
        color: $text-muted;
        padding: 3px;
        border-radius: 4px;
        font-size: .8em;
        position: relative;
        top: -2px;
      }
    }

    &.featured .topic-meta-primary {
      .topic-type {
        background: $brand-primary;
        color: white;
      }
    }

    .topic-title{
      color: $text-color;
      padding: 0 10px;
      width: calc(100% - 100px);
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover{
        color:$text-color
      }
      &:visited{
        color:$text-muted
      }
    }
    
    .topic-meta-secondary {
     
      .last-replied-at{
        font-size: 13px;
        padding-top: 5px;
        color: #777777;
      }
    }
  }
}

